@import '../../styles/colors';
@import '../../styles/font-sizes';
@import '../../styles/responsive';

.button {
  background: $primary-dark;
  color: $button-text-color;
  border: none;
  cursor: pointer;
  font-size: $body-normal-size;
  padding: $padding-small $padding-medium $padding-small;
  text-align: center;
  min-width: 10em;
  max-width: 20em;
  height: 3em;
  border-radius: $border-radius-large;
}

.button:hover {
  opacity: 0.8;
}