@import "../../styles/colors";
@import "../../styles/font-sizes";
@import "../../styles/responsive-sizes";
@import "../../styles/mixins";

.button {
  background: $primary-dark;
  color: $button-text-color;
  border: none;
  cursor: pointer;
  @include responsive-font-size(body-normal);
  text-align: center;
  min-width: 10em;
  max-width: 20em;
  height: 3em;

  @include responsive-spacing(
    margin,
    map-get($margin, margin-small),
    map-get($margin, margin-medium),
    map-get($margin, margin-large)
  );
}
