@import '../../styles/colors';
@import '../../styles/font-sizes';
@import '../../styles/mixins';

.button {
  @include responsive-spacing(padding, 0.625, ratio-small);
  @include responsive-spacing(margin, 0.625, ratio-small);
  @include responsive-border-radius(0.25, ratio-small);
  background: $primary-dark;
  color: $button-text-color;
  border: none;
  cursor: pointer;
  font-size: $body-normal-size;
  text-align: center;
  min-width: 10em;
  max-width: 20em;
  height: 3em;
}