.heroWrapper {
  z-index: 0;
  width: 100%;
  height: 700px;
  position: relative;

  img {
    object-fit: cover;
  }
}

.heading {
  z-index: 1;
  font-weight: 300;
  font-size: 100px;
  letter-spacing: 10px;
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
}
