@import '/styles/font-sizes';
@import '/styles/colors';


.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $primary-light;
}

.seeMoreLink {
  text-align: center;
  font-size: $base-font-size;
}