@import '/styles/font-sizes';

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.seeMoreLink {
  text-align: center;
  font-size: $base-font-size;
}