@import "../../styles/mixins";
@import "../../styles/colors";

.footerWrapper {
  background-color: $text-color;
  color: $primary-light;

  @include responsive-spacing(padding, map-get($padding, padding-large));
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive-spacing(margin-bottom, map-get($margin, margin-large));
}

.footerColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30px;
}

.footerItem {
  @include responsive-spacing(
    margin,
    map-get($margin, margin-small) map-get($margin, margin-large)
  );
  text-align: center;
}

.footerLink {
  color: $primary-light;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.footerSocialIcons {
  text-align: center;
  margin-bottom: 20px;
}

.socialIcon {
  font-size: 24px;
  margin: 0 10px;
  color: $primary-light;

  &:hover {
    color: #ccc;
  }
}

.footerCopyright {
  text-align: center;
}
