@import '../../styles/colors';

.footerWrapper {
    background-color: $secondary-color;
    opacity: 0.5;
    height: 20rem;
    width: 100%;
    position: relative;
}

.footerList {
    padding: 100px;
    color: $primary-dark;
    font-size: 1rem;
}