@import "../../styles/mixins";

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
}

.input {
  @include responsive-spacing(min-width, map-get($spacing, spacing-large));
  border-radius: 30px;
  border: 1px solid grey;
  padding: 20px;
  font-size: 20px;
}
