.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
}

.input {
  height: 70px;
  min-width: 20em;
  border-radius: 30px;
  margin-bottom: 30px;
  border: 1px solid grey;
  padding: 20px;
  font-size: 20px;
}
