$base-font-size: 16px;

$heading-sizes: (
  h1: $base-font-size * 2,
  h2: $base-font-size * 1.8,
  h3: $base-font-size * 1.6,
  h4: $base-font-size * 1.4,
  h5: $base-font-size * 1.2,
  h6: $base-font-size * 1.1,
);

$font-ratios: (
  h1: 2,
  h2: 1.8,
  h3: 1.6,
  h4: 1.4,
  h5: 1.2,
  h6: 1.1,
  body-small: 0.8,
  body-normal: 1,
  body-large: 1.2,
  body-extra-large: 1.4,
);
