@import "responsive-sizes";
@import "font-sizes";

$base-font-size: 16px;

@mixin responsive-spacing(
  $property,
  $size-small,
  $size-medium: null,
  $size-large: null
) {
  @media (min-width: map-get($breakpoints, breakpoint-small)) {
    #{$property}: $size-small;
  }

  @media (min-width: map-get($breakpoints, breakpoint-medium)) {
    @if $size-medium !=null {
      #{$property}: $size-medium;
    }
  }

  @media (min-width: map-get($breakpoints, breakpoint-large)) {
    @if $size-large !=null {
      #{$property}: $size-large;
    }
  }
}

@mixin responsive-font-size($ratio-key) {
  $ratio: map-get($font-ratios, $ratio-key);

  font-size: $base-font-size * $ratio;

  @media (min-width: map-get($breakpoints, breakpoint-medium)) {
    font-size: $base-font-size * $ratio * 1.2;
  }

  @media (min-width: map-get($breakpoints, breakpoint-large)) {
    font-size: $base-font-size * $ratio * 1.4;
  }
}
