$breakpoints: (
    breakpoint-small: 576px,
    breakpoint-medium: 768px,
    breakpoint-large: 992px,
    breakpoint-extra-large: 1200px
);

$ratios: (
    ratio-small: 1,
    ratio-medium: 1.2,
    ratio-large: 1.5,
    ratio-extra-large: 1.8
);

$base-font-size: 16px;
$em-per-rem: 1em;