.heading {
  color: #000;
}

.categoryImage {
  color: #000;
  object-fit: cover;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
