@import '../../styles/colors';
@import '../../styles/mixins';

.categoryHeading {
  color: $primary-dark;
  background: $primary-light;
}

.categoryImage {
  object-fit: cover;
}

.categoryImageWrapper {
  @include responsive-spacing(margin, 0.625, ratio-small);

  display: flex;
  flex-direction: column;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15rem;
  width: 15rem;
  position: relative;
}

.cardWrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}